<div class="panel panel-default">
    <div class="panel-heading">
        <h1 style="text-align: center">Clientes</h1><br>
        <div class="row" [hidden]="!deleteMessage">

            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Dados do Cliente Deletados</strong>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>


    <div class="panel-body">
        <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead class="thead-light">
                <tr>
                    <th>Razão Social</th>
                    <th>CNPJ</th>
                    <th>Telefone</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes ">
                    <td>{{cliente.razaoSocial}}</td>
                    <td>{{cliente.cnpj}}</td>
                    <td>{{cliente.telefone}}</td>
                    <td><button (click)="deleteCliente(cliente.id)" class='btn btn-primary'><i
                                class="fa fa-futboll-0">Excluir</i></button>
                        <button (click)="updateCliente(cliente)" class='btn btn-info' data-toggle="modal"
                            data-target="#myModal">Editar</button>
                    </td>
                </tr>
            </tbody><br>
        </table>
    </div>
</div>


