<div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Modificar Datos</h3>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="">Razão Social:</label>
            <input [(ngModel)]="cliente.razaoSocial" name="razaoSocial" type="text" class="form-control">
          </div>
          <div class="form-group">
            <label for="">CNPJ:</label>
            <input [(ngModel)]="cliente.cnpj" name="cnpj" type="number" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Telefone:</label>
            <input [(ngModel)]="cliente.telefone" name="telefone" type="tel" class="form-control">
          </div>
          <button (click)="Atualizar(cliente)" class="btn btn-danger">Atualizar</button>
        </form>
      </div>
    </div>
  </div>