
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4" >  
    <div [hidden]="submitted" style="width: 400px;">  
      <h3><strong>Novo Cliente</strong></h3>  
      <form [formGroup]="clientesaveForm" #savecliente (ngSubmit)="saveCliente(saveCliente)">  
          <div class="form-group">  
              <label for="name">Razão Social</label>  
              <input type="text" class="form-control"  formControlName="razaoSocial" data-toggle="tooltip"   
                 data-placement="right" title="Entre com a Razão Social" >  
              <div class="alert alert-danger" *ngIf = "(razaoSocialCliente.touched) && (razaoSocialCliente.invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="razaoSocialCliente.errors.required">Razão Social é obrigatório</span>  
                    <span *ngIf = "razaoSocialCliente.errors.minlength">   
                        A Razão Social não poder ter menos de 5 caracteres.   
                    </span>                     
                </div>  
          </div>  
    
          <div class="form-group">  
              <label for="name">CNPJ</label>  
              <input type="text" class="form-control" formControlName="cnpj"   
                data-toggle="tooltip" data-placement="right" title="Entre com o CNPJ da empresa">  
                <div class="alert alert-danger" *ngIf = "(cnpjCliente.touched) && (cnpjCliente.invalid)"   
                style="margin-top: 5px;">  
                  <span *ngIf="cnpjCliente.errors.required">O CNPJ é obrigatório</span>  
                    <span *ngIf = "cnpjCliente.errors.minlength">   
                        Formato de CNPJ inválido. O CNPJ é composto de 14 caracteres   
                    </span>
                    <span *ngIf = "cnpjCliente.errors.maxlength">   
                      Formato de CNPJ inválido. O CNPJ é composto de 14 caracteres 
                  </span>
                </div>  
          </div>  
    
          <div class="form-group">  
            <label for="name">Telefone</label>  
            <input type="text" class="form-control" formControlName="telefone"   
              data-toggle="tooltip" data-placement="right" title="Entre com o CNPJ da empresa">  
              <div class="alert alert-danger" *ngIf = "(telefoneCliente.touched) && (telefoneCliente.invalid)"   
              style="margin-top: 5px;">  
                <span *ngIf="telefoneCliente.errors.required">O telefone é obrigatório</span>  
                  <span *ngIf = "telefoneCliente.errors.minlength">   
                      Formato de telefone inválido. Mínimo 10 digitos.  
                  </span>
                  <span *ngIf = "telefoneCliente.errors.maxlength">   
                    Formato de telefone inválido. Máximo de 11 digitos.
                </span>                     
              </div>  
        </div>  
    
          <button type="submit" class="btn btn-success">Submit</button>  
      </form>  
  </div>  
  </div>  
  <div class="col-sm-4"></div>  
</div>  
<div class="row">  
  <div class="col-sm-4"></div>  
  <div class="col-sm-4">  
      <div [hidden]="!submitted">  
         <h4>Cliente adicionado com sucesso!</h4>  
         <button (click)="addClienteForm()" class='btn btn-primary'>Adicionar outros Clientes</button>  
      </div>        
  </div>  
  <div class="col-sm-4"></div>  
</div>  