<div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
          <a routerLink="view-cliente" class="nav-link" class="btn btn-primary active" role="button" >Listar Clientes</a>  
        </li>   
        <li class="nav-item">  
          <a  routerLink="add-cliente" class="nav-link" class="btn btn-primary active" role="button" >Adicionar Clientes</a>  
        </li>            
      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div>  